* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    margin: 100px 200px;
}

.header-container {
    font-family: sans-serif;
    height: 45px;
    margin: 40px 20px 0px 20px;
    font-size: 0;
}

.header-container > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a {
    color: #025157;
    text-decoration: none;
    margin: 25px;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

.actions > a {
    color: #67b54b;
}

.actions > button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}

.publish h3{
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: #025157;
}

.publish {
    margin: 0px 15px;
}

.publish > p {
    margin: 20px 0px;
    color: #343434;
}

.publish > form {
    display: flex;
    margin-top: 10px;
}

.publish > form p {
    color: #025157;
    margin-right: 15px;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 125px;
    margin-top: 10px;
}

footer {
    display: flex;
    align-items: center;
    margin: 30px;
}

footer > span {
    margin-left: auto;
}